.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--dock-height);
  background-color: #1c1c1c;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  z-index: var(--header-z-index);

  &__link {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    margin-bottom: 4px;
  }

  &__section {
    min-height: 1px;
    display: grid;
    grid-template-rows: 1px 1fr;
  }

  &__border-active {
    height: 1px;
    background-color: #fff;
  }
}
