@if (isHeaderVisible()) {
  <header class="app-header__mobile" aria-label="Device status">
    <span class="app-header__mobile__time">{{ currentTime() }}</span>

    <span
      class="app-header__mobile__store-status"
      [class]="'app-header__mobile__store-status--' + storeStateStyle()"
    >
      {{ storeState() }}
    </span>
  </header>
}

<main id="main-content" [class.with-chrome]="isHeaderVisible()" class="app-main">
  <!-- <router-outlet /> -->
</main>

@if (isHeaderVisible()) {
  <footer class="app-footer" role="contentinfo">
      @for (item of footerNavItems; track item.path) {
        <div class="app-footer__section">
          <div class="app-footer__link">
            <div
              class="{{
                item.path === currentPath() ? 'app-footer__border-active app-footer__icon' : ''
              }}"
            ></div>
          </div>
          <a
            routerLink="{{ item.path }}"
            class="app-footer__link"
            [class.app-footer__link--active]="item.path === currentPath()"
            [aria-label]="item.label"
          >
            <img
              src="{{ item.path === currentPath() ? item.activeIcon : item.icon }}"
              alt="{{ item.label }}"
              class="app-footer__icon"
            />
          </a>
        </div>
      }
  </footer>
}
