<header class="app-header">

  <!-- Centered Logo -->
  <div class="logo">
    <a href="/"><img src="assets/icons/last_stop_brewing_logo.svg" alt="Logo"></a>
  </div>

  <!-- Hamburger Menu -->
  <button class="hamburger-button" (click)="toggleMenu()">
    <img src="assets/LastStopBrewingX_1.png" class="hamburger-line line1" [class.open]="isActive">
    <img src="assets/LastStopBrewingX_2.png" class="hamburger-line line2" [class.open]="isActive">
  </button>

  <div class="header-menu">
    <a href="">Home</a>
    <a href="beers">Beers</a>
    <a href="food">Food</a>
    <a href="events">Events</a>
    <a href="about">About</a>
    <a href="contact">Contact</a>
  </div>

  <!-- Dropdown Menu -->
  <div class="full-screen-menu" [class.open]="isActive">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="beers">Beers</a></li>
      <li><a href="food">Food</a></li>
      <li><a href="events">Events</a></li>
      <li><a href="about">About</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </div>
</header>