<header class="app-header">

  <!-- Centered Logo -->
  <div class="logo">
    <a href="/"><img src="assets/icons/last_stop_brewing_logo.svg" alt="Logo"></a>
  </div>

  <!-- Hamburger Menu -->
  <button class="hamburger-button" (click)="toggleMenu()">
    <img src="assets/LastStopBrewingX_1.png" class="hamburger-line line1" [class.open]="isActive">
    <img src="assets/LastStopBrewingX_2.png" class="hamburger-line line2" [class.open]="isActive">
  </button>

  <div class="header-menu">
    <a routerLink="" >Home</a>
    <a routerLink="beers">Beers</a>
    <a routerLink="food">Food</a>
    <a routerLink="events">Events</a>
    <a routerLink="about">About</a>
    <a routerLink="contact">Contact</a>
  </div>

  <!-- Dropdown Menu -->
  <div class="full-screen-menu" [class.open]="isActive">
    <ul (click)="toggleMenu()">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="beers">Beers</a></li>
      <li><a routerLink="food">Food</a></li>
      <li><a routerLink="events">Events</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="contact">Contact</a></li>
    </ul>
  </div>
</header>